<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="/img/logo.png" alt="logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <a href="{{ .URL | absURL }}" class="navbar-item{{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}">
                        <span class="icon" style="color: {{ .Pre }};"><i class="{{ .Post }}"></i></span>
                        <span>{{ .Name }}</span>
                    </a>
                {{ end }}
            </div>
            <div class="navbar-end">
                <!--todo: make configurable-->
                <!--<a href="" class="navbar-item is-hidden-touch is-hidden-desktop-only"><span class="icon"><i class="fas fa-podcast"></i></span></a>-->
                <!--<a href="" class="navbar-item is-hidden-touch is-hidden-desktop-only"><span class="icon"><i class="fab fa-youtube"></i></span></a>-->
                <!--<a href="" class="navbar-item is-hidden-touch is-hidden-desktop-only"><span class="icon"><i class="fab fa-soundcloud"></i></span></a>-->

                <!--<div class="navbar-item">-->
                    <!--<div class="field is-grouped is-grouped-multiline">-->
                        <!--<p class="control">-->
                            <!--<a class="button is-danger is-normal" href="#" target="_blank">-->
                                <!--<span class="icon"><i class="fab fa-patreon"></i></span>-->
                                <!--<span>Become a patron</span>-->
                            <!--</a>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</nav>
